#add-main {
  justify-content: center;
}

#product-add-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 350px;
  background-color: $light-blue;
  padding: 40px 35px;
  border-radius: 5px;
  box-shadow: $shadow;
}

.attributes {
  &__inner {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: center;

    label {
      grid-column: 1/2;
    }

    input {
      grid-column: 2/3;
      padding: 5px 10px;
      width: 200px;
      font-size: 15px;
    }

    p {
      grid-column: 1/3;
      font-size: 13px;
    }
  }
}

#add-product-message {
  color: red;
  margin-top: 0;
  display: none;
}

.switcher {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
  padding-top: 1.5rem;
  border-top: $border;

  select {
    padding: 5px 10px;
    font-size: 15px;
    border-image-width: 0;
  }
}
