body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: $light-blue;
  border-bottom: $border;
  padding: 0 3rem;
  z-index: 1;
  position: relative;

  div {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  column-gap: $gap;
  row-gap: $gap;
  padding: 3.5rem 0;
  margin: 0 1rem;
  position: relative;
}

footer {
  display: flex;
  justify-content: center;
  border-top: $border;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

a,
input[type="submit"] {
  padding: 5px 10px;
  border: $border;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}

.green-btn {
  background-color: $green-btn;
}

.red-btn {
  background-color: $red-btn;
}

.visible {
  display: block !important;
}

@media only screen and (min-width: $big-mobile) {
  main {
    margin: 0 2rem;
  }
}

@media only screen and (min-width: $tablet) {
  main {
    margin: 0 3rem;
  }
}
