.product {
  width: calc((100% - (#{$product-padding} * 2)));
  padding: $product-padding;
  border-radius: 7px;
  background-color: $light-gray;
  box-shadow: $shadow;

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }

  div {
    text-align: center;
  }
}

#empty-list-txt {
  width: 100%;
  text-align: center;
  display: none;
}

#products-message {
  width: 100%;
  background-color: #e9ecf5;
  font-size: 14px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0 1rem;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
}

.products-message-animate {
  animation-name: products-message-animate;
  animation-duration: 10s;
}

@keyframes products-message-animate {
  0%,
  100% {
    transform: translateY(-100%);
  }
  10%,
  90% {
    transform: translateY(0);
  }
}

@media only screen and (min-width: $big-mobile) {
  .product {
    width: calc((100% - (#{$gap} * 1) - (#{$product-padding} * 4)) / 2);
  }
}

@media only screen and (min-width: $tablet) {
  .product {
    width: calc((100% - (#{$gap} * 2) - (#{$product-padding} * 6)) / 3);
  }
}

@media only screen and (min-width: $desktop) {
  .product {
    width: calc((100% - (#{$gap} * 3) - (#{$product-padding} * 8)) / 4);
  }
}
