$light-blue: #ebf2fc;
$light-gray: #f6f6f6;
$border: 1px solid rgba(166, 165, 165, 30%);
$green-btn: rgb(40, 154, 71);
$red-btn: rgb(204, 83, 83);
$shadow: 4px 6px 5px -6px rgba(45, 45, 45, 0.75);

/* product */

$gap: 1rem;
$product-padding: 1rem;

/* media */

$big-mobile: 500px;
$tablet: 768px;
$desktop: 1200px;
