@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/* product */
/* media */
body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; }

header {
  display: flex;
  justify-content: space-between;
  background-color: #ebf2fc;
  border-bottom: 1px solid rgba(166, 165, 165, 0.3);
  padding: 0 3rem;
  z-index: 1;
  position: relative; }
  header div {
    display: flex;
    align-items: center;
    column-gap: 1rem; }

main {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 3.5rem 0;
  margin: 0 1rem;
  position: relative; }

footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(166, 165, 165, 0.3);
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px; }

a,
input[type="submit"] {
  padding: 5px 10px;
  border: 1px solid rgba(166, 165, 165, 0.3);
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  text-transform: uppercase; }

.green-btn {
  background-color: #289a47; }

.red-btn {
  background-color: #cc5353; }

.visible {
  display: block !important; }

@media only screen and (min-width: 500px) {
  main {
    margin: 0 2rem; } }
@media only screen and (min-width: 768px) {
  main {
    margin: 0 3rem; } }
.product {
  width: calc((100% - (1rem * 2)));
  padding: 1rem;
  border-radius: 7px;
  background-color: #f6f6f6;
  box-shadow: 4px 6px 5px -6px rgba(45, 45, 45, 0.75); }
  .product input[type="checkbox"] {
    width: 20px;
    height: 20px; }
  .product div {
    text-align: center; }

#empty-list-txt {
  width: 100%;
  text-align: center;
  display: none; }

#products-message {
  width: 100%;
  background-color: #e9ecf5;
  font-size: 14px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0 1rem;
  position: absolute;
  top: 0;
  transform: translateY(-100%); }

.products-message-animate {
  animation-name: products-message-animate;
  animation-duration: 10s; }

@keyframes products-message-animate {
  0%,
  100% {
    transform: translateY(-100%); }
  10%,
  90% {
    transform: translateY(0); } }
@media only screen and (min-width: 500px) {
  .product {
    width: calc((100% - (1rem * 1) - (1rem * 4)) / 2); } }
@media only screen and (min-width: 768px) {
  .product {
    width: calc((100% - (1rem * 2) - (1rem * 6)) / 3); } }
@media only screen and (min-width: 1200px) {
  .product {
    width: calc((100% - (1rem * 3) - (1rem * 8)) / 4); } }
#add-main {
  justify-content: center; }

#product-add-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 350px;
  background-color: #ebf2fc;
  padding: 40px 35px;
  border-radius: 5px;
  box-shadow: 4px 6px 5px -6px rgba(45, 45, 45, 0.75); }

.attributes__inner {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
  row-gap: 1rem;
  align-items: center; }
  .attributes__inner label {
    grid-column: 1/2; }
  .attributes__inner input {
    grid-column: 2/3;
    padding: 5px 10px;
    width: 200px;
    font-size: 15px; }
  .attributes__inner p {
    grid-column: 1/3;
    font-size: 13px; }

#add-product-message {
  color: red;
  margin-top: 0;
  display: none; }

.switcher {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(166, 165, 165, 0.3); }
  .switcher select {
    padding: 5px 10px;
    font-size: 15px;
    border-image-width: 0; }

/*# sourceMappingURL=main.css.map */
